@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}
h1{
    color: #fff;
    letter-spacing: 0.5rem;
    font-weight: 900;
    text-shadow: 2px 2px black;
}

body {
  background-image: linear-gradient(
    0deg,
    rgb(193, 229, 247) 23.8%,
    rgb(90, 90, 168) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.music-container {
  background-color: rgb(206, 216, 250);
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(78, 114, 231, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: rgba(109, 122, 184, 1);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  margin: 0 0 0 30px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: transparent;
  border: 0;
  color: #5d5ea0;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #1d1e46;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(109, 122, 184, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0 0;
  height: 10px;
  width: 100%;
}

.progress {
  background-color: #8d9efe;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.volume{
    width: 100px;
    padding: 2px 0;
    cursor: pointer;
    margin: 0 auto;
}
.volume .volume-down, .volume .volume-up{
    width: 24px;
    color: #5d5ea0;
}
.volume .volume-down{
    float: left;
}
.volume .volume-up{
    float: right;
}

#current-time{
    font-size: .6rem;
    color: black;
    padding: 2px 0;
    float: right;
    color: #292a5c;
}